<ion-row>
  <ion-col size="12" size-lg="12">
    <div class="main_head">

      <div class="search_bar">
        <ion-searchbar placeholder=" search transiction,invoice or help"></ion-searchbar>
        <!-- <div class="right_side_div"> -->
            <div class="icons_3">
              <ion-icon name="help-buoy"></ion-icon>
              <ion-icon name="chatbubbles"></ion-icon>
              <ion-icon name="notifications"></ion-icon>
            </div>
            <span class="vi"></span>
            <div class="user_info">
              <p>John doe</p>
              <ion-icon name="chevron-down"></ion-icon>
              <img src="./../../assets/profile.jpg">
            </div>
          <!-- </div> -->
      </div>
    </div>

  </ion-col>
</ion-row>
